

.container{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}

.content{
    width: 80%;
    height: 60%;
    display: flex;
    border: 1px solid gray;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
}

.left{
    width: 50%;
    height: 100%;
}

.left img{
    width: 100%;
    height: 100%;
}
.right{
    margin-top: 20px;
    width: 48%;
    display: flex;
    flex-direction: column;
    gap:20px;

}
.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;

}

.FormControl{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.FormControl input{
    width: 80%;
    padding: 10px;
}
.buttons{
    display: flex;
    gap:20px
}
.btn{
    width: 100px;
    color: white;
    background-color: green;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    border-style: none;
   
}

.btn1{
    width: 100px;
    color: white;
    background-color: red;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    border-style: none;
}
