
<div class="add">
    <p>Add Booking</p>
    <p class="plus" (click)="showForm()" [ngClass]="{close:show}" >{{!show? '+':'X'}}</p>
</div>
<hr>
<div class="container">
   
    <div class="content" *ngIf="show">
          <div class="left">
            <img src="https://imgs.search.brave.com/LPjfQzOAUoZ8g9-iAiV7LGVxfj0rWohCaK-nSJZYHSc/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9nZXQu/d2FsbGhlcmUuY29t/L3Bob3RvL2xpZ2h0/cy1uaWdodC12ZWhp/Y2xlLWFpcnBsYW5l/LWFpcmNyYWZ0LUJv/ZWluZy1Cb2Vpbmct/Nzc3LWxhbmRpbmct/cGFzc2VuZ2VyLWFp/cmNyYWZ0LUZsaWdo/dC1UYWtlb2ZmLWF2/aWF0aW9uLXdpbmct/YWlybGluZS1hdG1v/c3BoZXJlLW9mLWVh/cnRoLWFpcmNyYWZ0/LWVuZ2luZS1haXIt/dHJhdmVsLWFpcmxp/bmVyLWpldC1haXJj/cmFmdC13aWRlLWJv/ZHktYWlyY3JhZnQt/bmFycm93LWJvZHkt/YWlyY3JhZnQtYm9l/aW5nLTc2Ny0yMDM5/ODQuanBn" alt="" />
         </div>
        <div class="right">
            <h1>Add Booking</h1>
            
          <form [formGroup]="form" (ngSubmit)="submitForm()" >
            <div class="formGroup">
                <div class="FormControl">
                    <label htmlFor="name">Enter Destination:</label>
                    <input type="text" formControlName="Destination" />
                </div>
    
                <div class="FormControl">
                    <label htmlFor="name">Enter TravelDate:</label>
                    <input type="date" formControlName="TravelDate" />
                </div>
            </div>
            <div class="FormControl">
            <button class="btn"> Add Booking</button>
            </div>
          </form>
        </div>
    </div>

        <table >
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>TravelDate</th>
                <th>Actions</th>
              </tr>
              <tr *ngFor="let booking of booking$ |async" [routerLink]="['/book',booking.Id]" >
                <td>{{booking.Name}}</td>
                <td>{{booking.Destination}}</td>
                <td>{{booking.TravelDate|date}}</td>
                <td (click)="ShowMore()" >
                    more Details
                    <!-- <a>delete</a> -->
                </td>
              </tr>
        </table>
    </div>


    <ng-template #noBooking>
        <p>No Booking Found!!!</p>
    </ng-template>

